{% extends 'users/admin/admin_main.html'%}
{% block title %}

Admin Dashboard

{% endblock %}
{% block content %}
<main>
            
            <div class="dash-cards">

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h5>Total Parcel</h5>
                            <h4>{{shipped}}</h4>
                        </div>
                    </div>
                </div>
                
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-reload"></span>
                        <div>
                            <h5>Users</h5>
                            <h4>{{shipped}}</h4>
                        </div>
                    </div>
                    
                </div>
                
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Courier Partners</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                 <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Delivery Partners</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>In-Transit</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Arrived at Destination</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Out for Delivery</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Ready to Pickup</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Delivered</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Picked-up</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Rejected Item</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Shipped</h5>
                            <h4>{{delivered}}</h4>
                        </div>
                    </div>
                   
                </div>
            </div>
            
            
{% endblock %}    